body{
    margin: 0;
    background: linear-gradient(to right, #8DF095, #ACD7E5);
    text-align: center;
    height: 100svh;
}
header{
    color: darkblue;
    font-size: 2rem;
    font-family: cursive;
}
h4{
    font-weight: lighter;
    letter-spacing: 2px;
    color: darkblue;
}

.container{
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 92%;
}
.note{
    resize: none;
    width: 280px;
    height: 180px;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    opacity: .2;
    color: darkblue;
    box-shadow: 2px 2px 6px rgb(0, 0, .5);
}
.note:hover{
    transition: box-shadow .2s linear;
    box-shadow: 2px 2px 18px rgb(0, 0, .5);
}

.create{
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: none;
    opacity: .2;
    border-radius: 16px;
    font-size: 1.5rem;
    box-shadow: 2px 2px 6px rgb(0, 0, .5);
    cursor: pointer;
}
